@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* width */
::-webkit-scrollbar {
  width: 5px;
  max-width: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f9fafb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8b4fe;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b779f9;
}
.select::-webkit-scrollbar {
  display: none;
}

  }